<div id="testimonials" class="container">
    <div class="no-gutter">
        <div class="col-lg-4">
            <div class="mrgn">
                <div class="testi">
                    <div class="popover top">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            Pe sem lacinia quam venenatis vestibulum.Pe sem lacinia quam venenatis vestibulum.
                        </div>
                    </div>
                    <div class="testi_img">
                        <img src="public/images/noprofile-big.png" alt="" />
                    </div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias aspernatur voluptate labore recusandae
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="mrgn">
                <div class="testi">
                    <div class="popover top">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            Pe sem lacinia quam venenatis vestibulum.
                        </div>
                    </div>
                    <div class="testi_img">
                        <img src="public/images/noprofile-big.png" alt="" />
                    </div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias aspernatur voluptate labore recusandae
                </div>    
            </div>
        </div>
        <div class="col-lg-4">
            <div class="mrgn">
                <div class="testi">
                    <div class="popover top">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            Pe sem lacinia quam venenatis vestibulum.
                        </div>
                    </div>
                    <div class="testi_img">
                        <img src="public/images/noprofile-big.png" alt="" />
                    </div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias aspernatur voluptate labore recusandae
                </div>
            </div>
        </div>
    </div>
</div>